@import url('https://fonts.googleapis.com/css?family=Baloo+Bhai&display=swap');


.loginHead {
    position: relative;
    top: 150px;
    width: 500px;
    height: 80px;
    margin: 0 auto;
    background: url('../../assets/banners/dashboard.png') no-repeat center center;
    font-family: 'Baloo Bhai', cursive;
    font-size: 42px;
    text-align: center;
    color: white;
    padding-top: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.loginBody {
    position: relative;
    top: 150px;
    width: 500px;
    margin: 0 auto;
    color: white;
    background: rgba(15,15,15,0.3);
    padding-top: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.loginIntro {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 12px;
    text-align: center;
}

.loginInput {
    width: 100%;
    height: 45px;
    background: none;
    border: none;
    border-bottom: 1px dashed rgba(15,15,15,0.3);
    outline: none;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.loginBtn {
    margin-top: 15px;
    width: 50%;
    border: none;
    height: 50px;
    border-bottom-left-radius: 10px;
    background: rgba(5,5,5,0.5);
    font-weight: bold;
    color: grey;
    outline:none;
}
.loginBtn:hover {
    background: rgba(196, 255, 142, 0.5);
    color: white;
}
.registerBtn {
    width: 50%;
    border: none;
    height: 50px;
    border-bottom-right-radius: 10px;
    background: rgba(5,5,5,0.3);
    color: grey;
    outline:none;
}
.registerBtn:hover {
    background: rgba(247, 206, 118, 0.5);
    color: white;
}
.error > p {
    color: rgba(247, 99, 99, 0.5);
    text-align: center;
}