/* You can add global styles to this file, and also import other style files */

body {
    margin: 0;
    padding: 0;
    background-image: url('assets/prism.png');
}
.displayContainer {
    width: 1730px;
    height: 100%;
    margin: 0 auto;
}

.content {
    width: 100%;
    position: absolute;
    top: 240px;
}

.left {
    float: left;
}
.right {
    float: right;
}

button {
    outline: none !important;
}

@media screen and (max-width: 1730px) {
    .displayContainer {
        width: 100%;
        height: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }
}