<app-header></app-header>

<div class="content">

    <div class="stats-banner">
        <div class="displayContainer">

            <!-- Current Livestreams -->
            <div class="stats clear-left">
                <i class="fa fa-video-camera" aria-hidden="true"></i>
                <h2>Current Livestreams</h2>
                <h3 class="livestreams">3</h3>
            </div>

            <!-- Total Ondemand -->
            <div class="stats">
                <i class="fa fa-file-video-o" aria-hidden="true"></i>
                <h2>Total ondemand</h2>
                <h3 class="ondemand">314</h3>
            </div>

            <!-- Active Viewers -->
            <div class="stats">
                <i class="fa fa-eye" aria-hidden="true"></i>
                <h2>active viewers</h2>
                <h3 class="viewers">1372</h3>
            </div>

            <!-- System Usage -->
            <div class="stats clear-right">
                <i class="fa fa-server" aria-hidden="true"></i>
                <h2>Server status</h2>
                <h3 class="server">72%</h3>
            </div>

        </div>
    </div>


</div>